*.log
*.tlog
*.pdb
*.obj
*.lib
*.exp
*.pch
*.ipch
*.ilk
*.exe
*.idb
*.dll
*.o
*.a
*.so
*.o.d
*.sdf
*.db
*.suo
*.rule
/.vs/basic_Test/v15
/src/scbasic/mysql/mysql-connector-c
/src/scbasic/mysql/mysql-connector-c++-1.1.8
/src/util/concurrentqueue2
/build/CMakeFiles
/build
*.stamp
/3rd/src/scbasic/sproto/build
/src/build
/sphinxbase
/libs/iconv/tests
/builddll
