[submodule "3rd/jemalloc"]
	path = 3rd/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "3rd/rapidjson"]
	path = 3rd/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "3rd/lua"]
	path = 3rd/lua
	url = https://github.com/ejoy/lua.git
[submodule "3rd/concurrentqueue"]
	path = 3rd/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "3rd/libuv"]
	path = 3rd/libuv
	url = https://github.com/libuv/libuv.git
[submodule "3rd/sphinxbase"]
	path = 3rd/sphinxbase
	url = https://github.com/owen200008/sphinxbase.git
[submodule "3rd/pocketsphinx"]
	path = 3rd/pocketsphinx
	url = https://github.com/cmusphinx/pocketsphinx.git
[submodule "3rd/libevent"]
	path = 3rd/libevent
	url = https://github.com/libevent/libevent.git
[submodule "3rd/cryptopp"]
	path = 3rd/cryptopp
	url = https://github.com/weidai11/cryptopp.git
