[submodule "3rd/jemalloc"]
	path = 3rd/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "3rd/rapidjson"]
	path = 3rd/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "3rd/lua"]
	path = 3rd/lua
	url = https://github.com/ejoy/lua.git
[submodule "3rd/concurrentqueue"]
	path = 3rd/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "3rd/pocketsphinx"]
	path = 3rd/pocketsphinx
	url = https://github.com/cmusphinx/pocketsphinx.git
[submodule "3rd/libevent"]
	path = 3rd/libevent
	url = https://github.com/libevent/libevent.git


[submodule "3rd/kaguya"]
	path = 3rd/kaguya
	url = https://github.com/satoren/kaguya.git
