<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>basicTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>basiclib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>cryptopp-static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>event.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>event_core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>event_extra.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>lualib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28D7EA5F1FBA48FEA8057E7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>327EF49D6DFC402FB5081404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34529D079CBB4FAC8CC5DEA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3802988540DD43D1A263A6A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3848240C2E7F470D9B50483D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47AEB350F2E445C0A6C028D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DFFCF44E4C242308E9BE295</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB44F7780AE24829B5533281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D03295F88D1E48BEB8FB58FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E13F06A645204AA5A9008E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6F5B4B713574998AA75907E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5958A291F5B463D8EF3F69D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
